<h1>Burgers to Eat</h1>

<h2>CHoices, so far.</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devo">devoured</label><br>
    <input type="radio" name="devour" value="1" checked> Available<br>
    <input type="radio" name="devour" value="0"> Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
